<!DOCTYPE html>

{% load static %}

{% load embed_video_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edi_Mars&apos;</title>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon4.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'public/blog/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brand.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brand.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/animations.min.css" integrity="sha512-GKHaATMc7acW6/GDGVyBhKV3rST+5rMjokVip0uTikmZHhdqFWC7fGBaq6+lf+DOS5BIO8eK6NcyBYUBCHUBXA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="">
            
        <header id="header">
            <div class="brand">
                <img src="{% static 'assets/images/favicon4.ico' %}" alt="myPic">
                <h3>Edi_Mars&apos;</h3>
            </div>
            <div class="header-nav">
                <a href="{% url 'home' %}" title="Home"><i class="bx bx-home"></i></a>
                <a href="{% url 'about' %}" title="About"><i class="bx bx-user"></i></a>
                <a href="{% url 'contact' %}" title="Contact"><i class='bx bxs-contact'></i></a>
                <a href="{% url 'projects' %}" title="Projects"><i class='bx bx-briefcase'></i></a> 
            </div>
        </header> 

        <div class="socials-links">
        <a href="https://twitter.com/edi_cem24" target="_blank"><i class='bx bxl-twitter'></i></a>
        <a href="https://github.com/EdiCeM24" target="_blank"><i class='bx bxl-github'></i></a>
        <a href="https://instagram.com/edi_cem24" target="_blank"><i class='bx bxl-instagram'></i></a>
        <a href="https://www.facebook.com/Edidiong Cletus Marcus" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://linkedin.com/in/cletus-marcus" target="_blank"><i class='bx bxl-linkedin-square'></i></a> 
        </div> 
    </section>

    <section class="blog-contents">
        <div class="">
            {% for product in blog_video %}
               <div class="">
                <div class="">
                    <h4>{{ product.caption }}</h4>
                 </div>
                 <video src="" controls autoplay>
                    <source media="(min-width: )" src="{{ product.video.url }}">
                 </video>
                 <div class="">
                    <p>{{ product.description }}</p>
                    <span>{{ product.created_at }}</span>
                 </div>
               </div>
            {% endfor %}
        </div>
    </section>


    <section class="blog-container">
        <div class="blog-image">
            {% for products in blogs %}
               <div class="">
                <div class="">
                    <h4>{{ products.title }}</h4>
                 </div>
                    <div class="image">
                        <img src="{{ products.image_url.url}}" alt="">
                    </div>
                 <div class="">
                    <p>{{ products.text }}</p>
                    <span>{{ products.created_at }}</span>
                 </div>
               </div>
            {% endfor %}
        </div>
    </section>

    <footer class="foot">
        <div class="projects-footer">
        <p>All rights reserved @ <script>document.write(new Date().getFullYear())</script> &copy; <a href="#" class="foots">Edi_Mars</a></p>
        </div>
    </footer> 

   <script src="{% static 'script/blog/blog.js' %}"></script>
</body>
</html>