<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/animations.min.css" integrity="sha512-GKHaATMc7acW6/GDGVyBhKV3rST+5rMjokVip0uTikmZHhdqFWC7fGBaq6+lf+DOS5BIO8eK6NcyBYUBCHUBXA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brand.min.css"/>

{% load static %}

<div class="containers">
    <h3 class="name">Marcus Edidiong Cletus</h3>
    <div class="content-nav">
        <a href="{% url 'blog' %}" id="dept">Blog</a>
        <a href="{% url 'projects' %}" id="dept">Projects</a>
    </div>
    <div class="nav">
        <div class="logo">
            <img src="{% static 'assets/images/favicon4.ico' %}" alt="">
            <h1>Edi_Mars</h1>
        </div>
        
        <div class="click"></div>
        <div class="login-item">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" title="Logout"><i class="bx bx-log-out"></i></a>
            {% else %}
              <a href="{% url 'login' %}" title="Login"><i class="bx bx-log-in"></i></a>

              <a href="{% url 'signup' %}" title="Sign Up"><i class="bx bx-">Sign Up</i></a>
           {% endif %}
        </div>
        
        <div class="lick-cover"></div>
        <div class="lick"></div>
        
        <ul class="nav-items">
            <li><a href="{% url 'home' %}" title="Home"><i class="bx bx-home"></i></a></li>
            <li><a href="{% url 'about' %}" title="About"><i class="bx bx-user"></i></a></li>
            <li><a href="{% url 'contact' %}" title="Contact"><i class='bx bxs-contact'></i></a></li>
        </ul>
        <button type="button" id="open-menu-btn"><i class="uil uil-bars"></i></button>

        <button type="button" id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
